<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head th:replace="partials/head :: head('Edit')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    * {
        box-sizing: border-box;
    }

    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Float four columns side by side */
    .column {

        width: 50%;
        padding: 0 10px;
    }

    /* Remove extra left and right margins, due to padding in columns */
    .row {margin: 0 -5px;}

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Style the counter cards */
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    /* Responsive columns - one column layout (vertical) on small screens */
    @media screen and (max-width: 600px) {
        .column {
            width: 100%;
            display: block;
            margin-bottom: 20px;
        }
    }
</style>
<body>

<header th:replace="partials/header :: header"></header>
<div class="dash">
    <div class="dashbrd"><h1 class="title p-4 pb-1 pt-4">Edit Profile</h1></div>
</div>


    <div class="card col col-lg-8 mb-4 mb-lg-0">
        <form th:action="@{/edit/{username} (username=${user.getUsername()})}" method="POST" th:object="${user}">
            <div class="mb-3 mt-3">
                <label for="first-name-input" class="form-label monaco-regular-normal-black-28px">First Name</label>
                <input id="first-name-input" class="form-control monaco-regular-normal-black-14px" th:field="*{firstName}" />
            </div>
            <div class="mb-3">
                <label for="last-name-input" class="form-label monaco-regular-normal-black-28px">Last Name</label>
                <input type="text" class="form-control monaco-regular-normal-black-14px" id="last-name-input" th:field="*{lastName}">
            </div>
            <div class="mb-3">
                <label for="aboutMe-input" class="form-label monaco-regular-normal-black-28px">Coding Interests</label>
                <input type="text" class="form-control monaco-regular-normal-black-14px" id="aboutMe-input" th:field="*{aboutMe}">
            </div>
            <div class="mb-3">
                <label for="codeLanguages-input" class="form-label monaco-regular-normal-black-28px">Coding Languages</label>
                <input type="text" class="form-control monaco-regular-normal-black-14px" id="codeLanguages-input" th:field="*{codeLanguages}">
            </div>


            <div class="mb-3">
                <label for="birthday-input" class="col-2 col-form-label monaco-regular-normal-black-28px">Birthday</label>
                <input class="form-control monaco-regular-normal-black-14px" type="date" value="2000-01-01" id="birthday-input" th:field="*{birthday}">
            </div>


            <div class="mb-3">
                <label for="job-input" class="form-label monaco-regular-normal-black-28px">Job</label>
                <input type="text" class="form-control monaco-regular-normal-black-14px" id="job-input" th:field="*{job}" maxlength="30">
            </div>
            <div class="light-button3-containeda-text-enabled-2">
                <div class="d1">
                    <div class="d2">
                        <div class="d3">
                        </div>
                    </div>
                    <div class="pic monaco-regular-normal-white-14px" id="uploadPhoto">

                        <input type="hidden" id="photo" name="gallery_photo" th:field="*{profile_picture_url}" />
                        <button class="btn btn-secondary" id="upload">Profile Photo</button>


                    </div>
                </div>
            </div>
            <div class="light-button3-containeda-text-enabled-2">
                <div class="d8">
                    <div class="d9">
                        <div class="container">
                            <div class="e1">
                                <div class="error-message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                                <div class="error-message" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
                                <button type="submit" class="btn btn-primary sav monaco-regular-normal-white-14px">Save Changes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>


    </div>







<!--<body>-->
<!--<header th:replace="partials/header :: header"></header>-->
<!--    <main class="editform screen">-->
<!--        <div class="p-5" style="width: 100%; background-color: #e6c25f; border: 5px solid black">-->
<!--            <div class="discardchanges">-->
<!--                <div class="a1">-->
<!--                    <div class="a2">-->
<!--                        <div class="a3">-->
<!--                            <div class="a4">-->
<!--                                <div class="a5"><div class="a6"></div></div>-->
<!--                            </div>-->
<!--                                </div>-->
<!--                                <div class="a8"></div>-->
<!--                                <div class="a8"></div>-->
<!--                            </div>-->
<!--                                <a th:href="@{/user/{username}(username=${#authentication.principal.username})}">-->
<!--                                    <div class="dis monaco-regular-normal-white-14px">DISCARD CHANGES</div>-->
<!--                                </a>-->
<!--                            </div>-->
<!--                    </div>-->

<!--            <form th:action="@{/edit/{username} (username=${user.getUsername()})}" method="POST" th:object="${user}">-->
<!--                <div class="mb-3 mt-3">-->
<!--                    <label for="first-name-input" class="form-label monaco-regular-normal-black-28px">First Name</label>-->
<!--                    <input id="first-name-input" class="form-control monaco-regular-normal-black-14px" th:field="*{firstName}" />-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="last-name-input" class="form-label monaco-regular-normal-black-28px">Last Name</label>-->
<!--                    <input type="text" class="form-control monaco-regular-normal-black-14px" id="last-name-input" th:field="*{lastName}">-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="aboutMe-input" class="form-label monaco-regular-normal-black-28px">Coding Interests</label>-->
<!--                    <input type="text" class="form-control monaco-regular-normal-black-14px" id="aboutMe-input" th:field="*{aboutMe}">-->
<!--                </div>-->
<!--                <div class="mb-3">-->
<!--                    <label for="codeLanguages-input" class="form-label monaco-regular-normal-black-28px">Coding Languages</label>-->
<!--                    <input type="text" class="form-control monaco-regular-normal-black-14px" id="codeLanguages-input" th:field="*{codeLanguages}">-->
<!--                </div>-->


<!--                <div class="mb-3">-->
<!--                    <label for="birthday-input" class="col-2 col-form-label monaco-regular-normal-black-28px">Birthday</label>-->
<!--                    <input class="form-control monaco-regular-normal-black-14px" type="date" value="2000-01-01" id="birthday-input" th:field="*{birthday}">-->
<!--                </div>-->


<!--                <div class="mb-3">-->
<!--                    <label for="job-input" class="form-label monaco-regular-normal-black-28px">Job</label>-->
<!--                    <input type="text" class="form-control monaco-regular-normal-black-14px" id="job-input" th:field="*{job}" maxlength="30">-->
<!--                </div>-->
<!--                    <div class="light-button3-containeda-text-enabled-2">-->
<!--                                    <div class="d1">-->
<!--                                        <div class="d2">-->
<!--                                            <div class="d3">-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                        <div class="pic monaco-regular-normal-white-14px" id="uploadPhoto">-->

<!--                                                <input type="hidden" id="photo" name="gallery_photo" th:field="*{profile_picture_url}" />-->
<!--                                                <button class="btn btn-secondary" id="upload">Profile Photo</button>-->


<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                <div class="light-button3-containeda-text-enabled-2">-->
<!--                            <div class="d8">-->
<!--                                <div class="d9">-->
<!--                                    <div class="container">-->
<!--                                        <div class="e1">-->
<!--                                            <div class="error-message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>-->
<!--                                            <div class="error-message" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>-->
<!--                                            <button type="submit" class="btn btn-primary sav monaco-regular-normal-white-14px">Save Changes</button>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                </div>-->

<!--            </form>-->
<!--            <form th:action="@{/{username}/delete (username=${#authentication.principal.username})}" method="POST" class="p-3" >-->
<!--                <button type="submit" class="btn btn-danger monaco-regular-normal-white-14px" onclick="return confirm('Are you sure?\nYou can\'t change your mind after clicking OK.')">Delete your account</button>-->
<!--            </form>-->


<!--            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--                <div class="modal-dialog modal-lg" role="document">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-header">-->
<!--                            <h5 class="modal-title" id="exampleModalLabel">Friend Requests</h5>-->
<!--                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                <span aria-hidden="true">&times;</span>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                        <div class="modal-body" style="width: 100%">-->
<!--                            <div class="p-5" style="background-color: lavender;" th:each="item : ${friendRequests}">-->
<!--                                <div class="row m-3 p-3 border border-dark" style="background-color: white;">-->
<!--                                    <div class="col-6">-->
<!--                                        <img th:src="${item.getUser().getProfile_picture_url().toString()}" class="gallery-item-tiny" alt="...">-->
<!--                                        <a th:if="${item.getStatus().ACCEPTED}" th:href="@{/{username}/friend/{friendName} (friendName=${item.getUser().getUsername()}, username=${user.getUsername()})}">-->
<!--                                            <h5 class="p-3" th:text="${item.getUser().getUsername()}"></h5>-->
<!--                                        </a>-->
<!--                                        <div th:if="${item.getStatus().PENDING}" th:href="@{/user/{username} (username=${user.getUsername()})}">-->
<!--                                            <h5 class="p-3" th:text="${item.getUser().getUsername()}"></h5>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-6">-->
<!--                                        <small class="text-muted">Username: </small>-->
<!--                                        <p class="card-text" th:text="${item.getUser().getUsername()}"></p>-->
<!--                                        <small class="text-muted">First Name: </small>-->
<!--                                        <p class="card-text" th:text="${item.getUser().getFirstName()}"></p>-->
<!--                                        <small class="text-muted">Last Name: </small>-->
<!--                                        <p class="card-text" th:text="${item.getUser().getLastName()}"></p>-->
<!--                                        <form th:action="@{/request/{username}/{friendName}/accept (username=${#authentication.principal.username}, friendName = ${item.getUser().getUsername()})}" th:method="POST">-->
<!--                                            <input class="field" name="accept" type="hidden" th:value="${item.getUser().getUsername()}"/>-->
<!--                                            <button class="btn btn-primary">Accept</button>-->
<!--                                        </form>-->
<!--                                        <form th:action="@{/request/{username}/{friendName}/reject (username=${#authentication.principal.username}, friendName = ${item.getUser().getUsername()})}" th:method="POST">-->
<!--                                            <input type="hidden" class="field" name="reject" th:value="${item.getUser().getUsername()}"/>-->
<!--                                            <button class="btn btn-danger">Reject</button>-->
<!--                                        </form>-->
<!--                                        <form th:action="@{/request/{username}/{friendName}/block (username=${#authentication.principal.username}, friendName = ${item.getUser().getUsername()})}" th:method="POST">-->
<!--                                            <input type="hidden" class="field" name="block" th:value="${item.getUser().getUsername()}"/>-->
<!--                                            <button class="btn btn-danger">Block</button>-->
<!--                                        </form>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </main>-->
<!--</div>-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js" defer></script>
<script src="/keys.js"></script>
<script type="text/javascript" th:src="@{/js/filestack.js}" defer></script>
</body>
</html>
