<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head th:replace="partials/head :: head('Edit')">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:replace="partials/header :: header"></header>
<div class="wknd-profile screen">
    <br><br>
    <div class="wknd-xf-header">
        <div class="wknd-header"><h1 class="title">CodeEncounter</h1></div>
    </div>

<!--    +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--    +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++Everything above is the user profile++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

    <div class="web-1920-1 screen">
        <div class="flex-row">
            <!--        image-->
            <img class="shutterstock_2028609842" th:src="${user.getProfile_picture_url().toString()}"
                 alt="Card image cap">
            <!--        image-->
            <!--            content-->
            <div class="flex-row-1 border-1px-dove-gray">
                <div class="flex-col">
                    <div class="full-name monaco-regular-normal-black-30px"> <p th:text="${user.firstName}"></p>
                        <p th:text="${user.lastName}"></p></div>
                    <div class="joinedjoin-date monaco-regular-normal-black-30px">
                        <p class="text-muted"><i class="far fa-handshake"></i> Joined</p>
                        <p th:text="${user.createdDate}"></p>
                    </div>
                    <div class="component-1-1">
                        <div class="birthdaybirth-date monaco-regular-normal-black-30px">
                            <p class="text-muted"><i class="fas fa-birthday-cake"></i> Birthday</p>
                            <p th:text="${user.birthday}"></p>
                        </div>
                    </div>
                    <div class="email-emailcom monaco-regular-normal-black-30px">
                        <p class="text-muted"><i class="far fa-envelope"></i> Email</p>
                        <p th:text="${user.email}"></p>
                    </div>
                    <div class="works-atplace-works monaco-regular-normal-black-30px">
                        <p class="text-muted"><i class="far fa-address-card"></i> Works at</p>
                        <p th:text="${user.job}"></p>
                    </div>
                </div>
                <div class="flex-col-1">
                    <div class="interestsinterest monaco-regular-normal-black-30px">
                        <p th:text="${user.aboutMe}"></p>
                    </div>
                    <div class="languagaeslanguages monaco-regular-normal-black-30px">
                        <p class="text-muted">Language Proficiency:</p>
                        <p th:text="${user.codeLanguages}"></p>
                    </div>
                    <div class="edit monaco-regular-normal-red-30px">
                        <p class="text-muted">Edit profile below</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--    +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++Everything above is the user profile++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!--    +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

    <div class="artboard-1 screen">
        <div class="overlap-group border-1px-dove-gray">
            <div class="rectangle-4 border-1px-dove-gray"></div>
<!--            DISCARD CHANGES-->
            <div class="discard-changes monaco-regular-normal-black-20px">
                <a th:href="@{/user/{username}(username=${#authentication.principal.username})}">
                    Discard changes
                </a>
            </div>
            <!--            DISCARD CHANGES-->


            <form th:action="@{/edit/{username} (username=${user.getUsername()})}" method="POST" th:object="${user}">
                <div class="first-name monaco-regular-normal-black-20px">
                    <label for="first-name-input">First Name</label>
                    <input id="first-name-input" class="form-control" th:field="*{firstName}" />
                </div>
                <div class="last-name monaco-regular-normal-black-20px">
                    <label for="last-name-input" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="last-name-input" th:field="*{lastName}">
                </div>
                <div class="birthday monaco-regular-normal-black-20px">
                    <label for="birthday-input" class="col-2 col-form-label">Birthday</label>
                    <input class="form-control" type="date" value="2000-01-01" id="birthday-input" th:field="*{birthday}">
                </div>
                <div class="job-title monaco-regular-normal-black-20px">
                    <label for="job-input" class="form-label">Job</label>
                    <input type="text" class="form-control" id="job-input" th:field="*{job}" maxlength="30">
                </div>
                <div class="coding-interests monaco-regular-normal-black-20px">
                    <label for="aboutMe-input" class="form-label">Coding Interest</label>
                    <input type="text" class="form-control" id="aboutMe-input" th:field="*{aboutMe}">
                </div>
                <div class="coding-languages monaco-regular-normal-black-20px">
                    <label for="codeLanguages-input" class="form-label">Coding Languages</label>
                    <input type="text" class="form-control" id="codeLanguages-input" th:field="*{codeLanguages}">
                </div>
                                <div class="upload" style="font-family: Monaco; font-size: 15px;" id="uploadPhoto">
                                    <input type="hidden" id="photo" name="gallery_photo" th:field="*{profile_picture_url}" />
                                    <button class="btn btn-secondary" id="upload">Change Profile Photo</button>
                                </div>
                                <div class="error-message" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
                                <div class="error-message" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>

            </form>

<!--            DELETE BUTTON-->
                        <form style="float: right;" th:action="@{/{username}/delete (username=${#authentication.principal.username})}" method="POST" class="delete" >
                            <button type="submit" class="btn btn-danger" style="font-family: Monaco; font-size: 15px;" onclick="return confirm('Are you sure?\nYou can\'t change your mind after clicking OK.')">Delete your account</button>
                        </form>
<!--            DELETE BUTTON-->
            <!--            Upload button-->
<!--            <div class="upload border-1px-dove-gray"></div>-->

<!--            Upload button-->
            <!--________________ Save button-->
            <button type="submit" class="save btn btn-dark btn-block" style="font-family: Monaco; font-size: 15px;">Save Changes</button>
            <!--________________ Save button-->


        </div>
    </div>






<!--            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--                <div class="modal-dialog modal-lg" role="document">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-header">-->
<!--                            <h5 class="modal-title" id="exampleModalLabel">Friend Requests</h5>-->
<!--                            <button type="button" class="close" style="font-family: Monaco; font-size: 15px;"data-dismiss="modal" aria-label="Close">-->
<!--                                <span aria-hidden="true">&times;</span>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                        <div class="modal-body" style="width: 100%">-->
<!--                            <div class="p-5" style="background-color: lavender;" th:each="item : ${friendRequests}">-->
<!--                                <div class="row m-3 p-3 border border-dark" style="background-color: white;">-->
<!--                                    <div class="col-6">-->
<!--                                        <img th:src="${item.getUser().getProfile_picture_url().toString()}" class="gallery-item-tiny" alt="...">-->
<!--                                        <a th:if="${item.getStatus().ACCEPTED}" th:href="@{/{username}/friend/{friendName} (friendName=${item.getUser().getUsername()}, username=${user.getUsername()})}">-->
<!--                                            <h5 class="p-3" th:text="${item.getUser().getUsername()}"></h5>-->
<!--                                        </a>-->
<!--                                        <div th:if="${item.getStatus().PENDING}" th:href="@{/user/{username} (username=${user.getUsername()})}">-->
<!--                                            <h5 class="p-3" th:text="${item.getUser().getUsername()}"></h5>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col-6">-->
<!--                                        <small class="text-muted">Username: </small>-->
<!--                                        <p class="card-text" th:text="${item.getUser().getUsername()}"></p>-->
<!--                                        <small class="text-muted">First Name: </small>-->
<!--                                        <p class="card-text" th:text="${item.getUser().getFirstName()}"></p>-->
<!--                                        <small class="text-muted">Last Name: </small>-->
<!--                                        <p class="card-text" th:text="${item.getUser().getLastName()}"></p>-->
<!--                                        <form th:action="@{/request/{username}/{friendName}/accept (username=${#authentication.principal.username}, friendName = ${item.getUser().getUsername()})}" th:method="POST">-->
<!--                                            <input class="field" name="accept" type="hidden" th:value="${item.getUser().getUsername()}"/>-->
<!--                                            <button class="btn btn-primary">Accept</button>-->
<!--                                        </form>-->
<!--                                        <form th:action="@{/request/{username}/{friendName}/reject (username=${#authentication.principal.username}, friendName = ${item.getUser().getUsername()})}" th:method="POST">-->
<!--                                            <input type="hidden" class="field" name="reject" th:value="${item.getUser().getUsername()}"/>-->
<!--                                            <button class="btn btn-danger" style="font-family: Monaco; font-size: 15px;">Reject</button>-->
<!--                                        </form>-->
<!--                                        <form th:action="@{/request/{username}/{friendName}/block (username=${#authentication.principal.username}, friendName = ${item.getUser().getUsername()})}" th:method="POST">-->
<!--                                            <input type="hidden" class="field" name="block" th:value="${item.getUser().getUsername()}"/>-->
<!--                                            <button class="btn btn-danger" style="font-family: Monaco; font-size: 15px;">Block</button>-->
<!--                                        </form>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                            <button type="button" class="btn btn-dark btn-block" style="font-family: Monaco; font-size: 15px;" data-dismiss="modal">Close</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </main>-->
    <div class="wknd-container">
        <div class="wknd-separator"><div class="separator"></div></div>
        <div class="wknd-xf-footer">
            <h1 class="title">CodeEncounter</h1>
            <div class="x2022-code-encounter">Ⓒ 2022, CODEENCOUNTER</div>
        </div>
    </div>
<!--</div>-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js" defer></script>
<script src="/keys.js"></script>
<script type="text/javascript" th:src="@{/js/filestack.js}" defer></script>
</body>
</html>
